<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgenteMirim"
        tools:targetApi="31">

        <!-- Tela principal -->
        <activity
            android:name=".ConteudosActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <!-- Recuperar senha -->
        <activity
            android:name=".RecuperarSenhaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Perfil do usuário -->
        <activity
            android:name=".PerfilUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Completar perfil -->
        <activity
            android:name=".CompletarPerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Criar usuário -->
        <activity
            android:name=".CriarUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Gerenciar usuários -->
        <activity
            android:name=".GerenciarUsuariosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Criar conteúdo -->
        <activity
            android:name=".CriarConteudoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Conteúdos por cidade -->
        <activity
            android:name=".ConteudosCidadeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Criar cidade -->
        <activity
            android:name=".CriarCidadeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Detalhe do conteúdo -->
        <activity
            android:name=".DetalheConteudoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>